* { 
	margin: 0;
    padding: 0;
    outline: none; 
}

@font-face {
	font-family:"Blackjack";
	src: url(fonts/blackjack.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family:"ProximaNova Light";
	src: url(fonts/proxima-nova-light.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family:"ProximaNova Bold";
	src: url(fonts/proxima-nova-bold.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family:"ProximaNova Bold It";
	src: url(fonts/proxima-nova-bold-it.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family:"ProximaNova Regular";
	src: url(fonts/proxima-nova-regular.otf);
	font-style: normal;
	font-weight: 100;
}

body {  }

.header { 
	display: block;
	max-width: 100%;
	height: 652px;
	background: url(css/background.png)repeat; 
	color: #ffffff; 
}

.logo { 
	display: block; 
	width: 115px; 
	height: 115px; 
	padding: 0 160px; 
	position: absolute;
}

.btn-burger { 
	position: relative; 
	left: 1200px; 
	top: 20px;
}

h1 { 
	font-size: 70px; 
	font-family: 'Blackjack'; 
	font-weight: 100; 
	margin: 38px 0 10px 920px; 
}

h2 { 
	font-size: 35px;
	font-family: 'ProximaNova Light';
	font-weight: 100;
	margin: 38px 0 0 495px;
  }

.btn-download { 
	display: block;
	width: 173px;
	height: 57px;
	border: 3px solid; 
	border-color: #ffffff;
	border-radius: 4px;
	background: transparent;
	color: #ffffff;
	margin: 50px 0 0 1046px;
	font-size: 16px;
	font-family: 'ProximaNova Regular';
	position: relative;
	text-align: center;
 }
 .download-ico { 
 		display: block;
 		width: 18px;
 		height: 13px;
 		margin: -16px 20px 0 130px;
		background: url(css/download-ico.png)no-repeat;
		text-indent: -9999px;
		position: absolute;
  }